.auth{
  // background-color: var(--neutral-color-white);
  min-height: 100vh;
  // padding: 0 30rpx;
  // padding-bottom: 1a6rpx;
  .idCard{
    // margin-top: 50rpx;
  }
  .name{
    margin-top: 30rpx;
  }
  .name,.idCard{
    height: 44rpx;
  }
  .name,.idCard,.idCardPhoto,.data{
    display: flex;
    align-items: center;
    background-color: var(--neutral-color-white);
    border-bottom: 2rpx solid var(--color-gray-e8);
    padding-bottom: 31rpx;
    padding-top: 24rpx;
    // margin: 0 30rpx;
    padding-left: 30rpx;
    padding-right: 30rpx;
    ::v-deep .uni-easyinput__content{
      border:none
    }
    .label{
      margin-right: 40rpx;
      font-size: 32rpx;
      color: var(--color-black-19);
    }
    .label::before{
      content: '*';
      color:var(--color-red-bg) ;
      display: inline-block;
      vertical-align: middle;
    }
    ::v-deep .uni-input-input{
      font-size: 32rpx;
    }
    ::v-deep .uniui-clear:before{
      font-size: 36rpx;
    }
  }
  .active{
    border-bottom-color:var(--color-black-19)!important;
  }
  .idCardPhoto,.countryPhoto,.data{
    border-bottom: none;
    margin-top: 72rpx;
    display: block;
    .label{
      white-space: nowrap;
      margin-bottom: 67rpx;
    }
    .content{
      display: flex;
      // width: 100%;
      .photoItem{
        flex: 1;
        margin-left: 69rpx;
        ::v-deep .uni-file-picker{
          .icon-add{
            background-color: var(--color-gray-96);
            height: 4rpx;
            width: 60rpx;
          }
        }
        ::v-deep .uni-file-picker__container{
          height: 200rpx;
          width: 200rpx;
          margin: 0px;
        }
        ::v-deep .file-picker__box-content{
          background-color: var(--color-gray-eb);
          height: 200rpx;
          width: 200rpx;
          margin: 0px;
        }
        ::v-deep .file-count{
          display: none;
        }
        .photoLabel{
          font-size: 28rpx;
          color: var(--color-gray-59);
          text-align: center;
          margin-top: 20rpx;
        }
      }
      .forImg{
        width: 316rpx;
        height: 200rpx;
        display: block;
        margin-right: 64rpx;
      }
      .photoItem:last-child{
        .photoLabel{
          margin-right: 64rpx;
        }
      }
    }
  }
  .idCardPhoto{
    margin-top: 30rpx;
    padding-top: 41rpx;
  }
  .idCardPhoto{
    margin-top: 30rpx;
  }
  .data{
    margin-top: 0;
    padding-top: 41rpx;
    padding-bottom: 106rpx;
    .content{
      .photoLabel{
        text-align: left!important;
        margin-left: 44rpx;
      }
    }
  }
  .footer {
    width: 100%;
    // position: fixed;
    // bottom: 0;
    height: 186rpx;
    background: #ffffff;
    box-shadow: 0 0 12rpx 0 #0000001a;
    display: flex;
    font-size: 32rpx;
    justify-content: center;
    left: 0;
    .btn-red {
      height: 88rpx;
      width: 408rpx;
      background-color: var(--color-red-bg);
      color: var(--neutral-color-white);
      border-radius: 50rpx;
      text-align: center;
      line-height: 88rpx;
      margin-top: 30rpx;
    }
  }
}