.serviceSkill{
  .servicePage {
    display: flex;
    height: calc(100vh - 144rpx);
    border-top: 2rpx solid var(--color-gray-e8);
  
    .left {
      width: 236rpx;
      font-size: 28rpx;
      flex-shrink: 0;
      background: var(--neutral-color-white);
      .tagBox {
        height: 112rpx;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        font-size: 32rpx;
        color: var(--color-gray-59);
        text-align: center;
        line-height: 112rpx;
        display: flex;
        justify-content: center;
        align-items: center;
        .tag {
          height: 44rpx;
          line-height: 44rpx;
          .selectNum{
            color: var(--color-gray-59);
            font-size: 24rpx;
            font-weight: lighter;
            position: relative;
            bottom: 20rpx;
          }
        }
      }
      .active {
        font-family: PingFangSC-Medium;
        font-weight: bold !important;
        font-size: 16px !important;
        background-color: #fff !important;
        position: relative;
        color: var(--color-gray-19);
  
        .tag {
          &:after {
            content: '';
            position: absolute;
            width: 8rpx;
            height: 44rpx;
            left: 0;
            background: #f74145;
          }
          .selectNum{
            color: var(--color-red-bg);
            font-size: 24rpx;
            font-weight: lighter;
          }
        }
      }
    }
  
    .serviceBox {
      padding-left: 30rpx;
      padding-right: 30rpx;
      padding-top: 30rpx;
  
      .cleanImg {
        width: 532rpx;
        height: 200rpx;
        margin-bottom: 32rpx;
      }
  
      .clean {
        display: flex;
        flex-wrap: wrap;
        // 第二行和第一行对齐，不留空白
        align-content: flex-start;
  
        .card {
          width: 217rpx;
          box-sizing: border-box;
          text-align: center;
          height:100rpx ;
          line-height: 100rpx;
          background: var(--neutral-color-white);
          margin-bottom: 20rpx;
          font-family: PingFangSC-Regular;
          font-weight: 400;
          margin-right: 20rpx;
          font-size: 28rpx;
          color: #151515;
          border-radius: 16rpx;
  
          &:nth-child(2n) {
            margin-right: 0;
          }
        }
        .active.card{
          background: var(--color-red-ffeaea);
          border: 2rpx solid var(--color-red-bg);
          color: var(--color-red-bg);
        }
      }
    }
  }
  .footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 186rpx;
    background-color: var(--neutral-color-white);
    box-shadow: 0 0 12rpx 0 #0000001a;
    display: flex;
    align-items: center;
    .btn{
      height: 88rpx;
      line-height: 88rpx;
      text-align: center;
      border-radius: 50rpx;
    }
    .btn-gray{
      width:250rpx ;
      margin-left: 30rpx;
      margin-right: 32rpx;
    }
    .btn-red{
      width:408rpx ;
    }
  }
}

